{% extends 'base.html' %}
{% block main_cotents %}
<div class="page-head">
	<div class="container">
		<h3>Check Out</h3>
	</div>
</div>
<!-- //banner -->
<!-- check out -->
<div class="checkout">
	<div class="container">
		<h3>My Shopping Bag</h3>
		<div class="table-responsive checkout-right animated wow slideInUp" data-wow-delay=".5s">
			<table class="timetable_sub">
				<thead>
					<tr>
						<th>Remove</th>
						<th>Product</th>
						<th>Quantity (qty)</th>
						<th>Product Name</th>
						<th>Color</th>
						<th>Size</th>
						<th>Unite Price (UP)</th>
						<th>Price (qty x UP)</th>
					</tr>
				</thead>

				{% for cart in carts  %}
					<tr class="rem{{ forloop.counter }}">
						<td class="invert-closeb">
							<div class="rem">
								<a href="{% url 'order:remove-item' pk=cart.item.pk %}">
									<div class="close{{ forloop.counter }}"></div>
								</a>
							</div>
							<script>$(document).ready(function(c) {
								$('.close{{ forloop.counter }}').on('click', function(c){
									$('.rem{{ forloop.counter }}').fadeOut('slow', function(c){
										$('.rem{{ forloop.counter }}').remove();
									});
									});	  
								});
						   </script>
						</td>
						<td class="invert-image"><a href="single.html"><img src="{{cart.item.images.url}}" alt=" " class="img-responsive" /></a></td>
						<td class="invert">
							 <div class="quantity"> 
								<div class="quantity-select">                           
									<a href="{% url 'order:decrease-item' pk=cart.item.pk %}">
										<div class="entry value-minus">&nbsp;</div>
									</a>
									<div class="entry value"><span>{{cart.quantity}}</span></div>
									<a href="{% url 'order:increase-item' pk=cart.item.pk %}">
										<div class="entry value-plus active">&nbsp;</div>
									</a>
								</div>
							</div>
						</td>
						<td class="invert">{{cart.item.name}}</td>
						<td class="invert">{{cart.color}}</td>
						<td class="invert">{{cart.size}}</td>
						<td class="invert">Tk.
							{% if cart.variationPriceOfSingleProduct %}
								{{ cart.variationPriceOfSingleProduct }}
							{% else %}
								{{cart.item.price}}
							{% endif %}
						</td>
						<td class="invert">Tk.
						{% if cart.variation_total %}
							{{ cart.variation_total }}
						{% else %}
							{{cart.get_total}}
						{% endif %}
						</td>
					</tr>
					{% endfor %}
					<!--quantity-->
						<script>
						$('.value-plus').on('click', function(){
							var divUpd = $(this).parent().find('.value'), newVal = parseInt(divUpd.text(), 10)+1;
							divUpd.text(newVal);
						});

						$('.value-minus').on('click', function(){
							var divUpd = $(this).parent().find('.value'), newVal = parseInt(divUpd.text(), 10)-1;
							if(newVal>=1) divUpd.text(newVal);
						});
						</script>
								<!--quantity-->
			</table>
		</div>
		<div class="checkout-left">	
				
				<div class="checkout-right-basket animated wow slideInRight" data-wow-delay=".5s">
					<div class="col-lg-3 in-gp-tb">
						<form method="POST" action="">
							{% csrf_token %}
							<div class="input-group" style="margin-top:-10px" >
							<input type="text" class="form-control" placeholder="Coupon Code.." name="code" style="height:40px">
							<span class="input-group-btn">
								<button class="btn btn-warning glyphicon glyphicon glyphicon-arrow-right" type="submit" style="height:40px;border-radius:none"></button>
							</span>
							</div>
						</form>
					</div>
					<a href="{% url 'order:cart' %}"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>Back To Shopping</a>
				</div>
				
				<div class="checkout-left-basket animated wow slideInLeft" data-wow-delay=".5s" style="margin-top:-185px">
					<h4>Shopping basket</h4>
					<ul>
						<li>Subtotal <i>-</i> <span>Tk.{{orders.get_totals}}</span></li>
						<li>Shipping <i>-</i> <span>Tk.150</span></li>
						<li>Order Charge <i>-</i> <span>tk.20</span></li>
						<li>Total <i>-</i> <span>Tk.
							{% if discount_amount %}
								{{discount_amount}}
							{% else %}
								{{orders.get_totals}}
							{% endif %}
							
							
						</span></li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
	</div>
</div>
{% endblock %}

